* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;

    /* border: none; */
    border-radius: 5px;

    margin-bottom: 2px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

window#waybar {
    background-color: #1f2223;
    /* : 8px solid #191c1d; */
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
    background-color: #303030;
    color: #ebdbb2;
}

/* * Menus * */
#custom-notifications {
    background-color: #689d6a;
    color: #282828;
    padding-right: 9px;
}

#custom-menu {
    background-color: #689d6a;
    color: #282828;
    padding-right: 9px;
}

#custom-powermenu {
    background-color: #e23c2c;
    color: #282828;
    margin-right: 0px;
    padding-right: 6px;
}

/* * Controls * */
#pulseaudio {
    background-color: #f2b13c;
    color: #282828;
}

#backlight {
    background-color: #98bbad;
    color: #282828;
}

/* * Stats * */
#clock {
    background-color: #98971a;
    color: #282828;
    margin-left: 0px;
}

#cpu {
    background-color: #689d6a;
    color: #282828;
}

#memory {
    background-color: #c8779b;
    color: #282828;
}

#battery {
    background-color: #5d9da0;
    color: #282828;
}

#battery.critical:not(.charging) {
    background-color: #e23c2c;
    color: #1d2021;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

/* * Misc * */
label:focus {
    background-color: #000000;
}

tooltip {
    background-color: #1f2223;
    border: none;
    border-radius: 5px;
}

tooltip decoration {
    box-shadow: none;
}

tooltip decoration:backdrop {
    box-shadow: none;
}

tooltip label {
    color: #ebdbb2;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
